<body>
  <div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input type="email" id="email" name="email" formControlName="email" required>
      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        <div *ngIf="loginForm.get('email')?.hasError('required')">Correo electrónico es requerido.</div>
        <div *ngIf="loginForm.get('email')?.hasError('email')">Correo electrónico no válido.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="pass">Contraseña</label>
      <input type="password" id="password" name="password" formControlName="password" required>
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <div *ngIf="loginForm.get('password')?.hasError('required')">Contraseña es requerida.</div>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>
<app-botones-inicio (credencialesSeleccionadas)="manejarCredencialesSeleccionadas($event)"></app-botones-inicio>
</body>

