<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bienvenida.component.css">
</head>
<body>
  <div class="container">
    <h1 class="title">Bienvenido a la clínica de Paul Atreides</h1>
    <p class="description">Trataremos tus heridas de batalla, no te preocupes</p>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <p>No desperdicies agua, en Arrakis es un recurso muy preciado</p>
    </div>
  </footer>
</body>
</html>
