<div class="container">
    <div class="especialistas-list">
      <div>
        <h2>Listado de administradores</h2>
        <ul>
          <li *ngFor="let administrador of administradores">
            <div>
              <strong>{{ administrador.nombre }} {{ administrador.apellido }}</strong>
              <p>Edad: {{ administrador.edad }}</p>
              <p>DNI: {{ administrador.DNI }}</p>
              <p>Mail: {{ administrador.mail }}</p>
              <!-- Aquí puedes añadir cualquier otra información que quieras mostrar -->
            </div>
          </li>
        </ul>
      </div>
      <h2>Listado de especialistas</h2>
      <ul>
        <li *ngFor="let especialista of especialistas">
          <div>
            <strong>{{ especialista.nombre }} {{ especialista.apellido }}</strong>
            <p>Edad: {{ especialista.edad }}</p>
            <p>DNI: {{ especialista.DNI }}</p>
            <p>Mail: {{ especialista.mail }}</p>
            <p>Habilitado: {{ especialista.habilitado ? 'Sí' : 'No' }}</p>
            <button (click)="toggleHabilitado(especialista.id, especialista.habilitado)" [disabled]="especialista.habilitado">
              {{ especialista.habilitado ? 'Habilitado' : 'Habilitar' }}
            </button>
          </div>
        </li>
      </ul>
      <div>
        <h2>Listado de pacientes</h2>
        <ul>
          <li *ngFor="let paciente of pacientes">
            <div>
              <strong>{{ paciente.nombre }} {{ paciente.apellido }}</strong>
              <p>Edad: {{ paciente.edad }}</p>
              <p>DNI: {{ paciente.DNI }}</p>
              <p>Mail: {{ paciente.mail }}</p>
              <!-- Aquí puedes añadir cualquier otra información que quieras mostrar -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
