<div class="container">
    <div class="ingreso-rapido-container d-flex flex-column align-items-center mb-4">
      <button class="btn btn-lg btnIngreso btn-primary btnAdmin" (click)="seleccionarCredenciales('paul.atreides@gmail.com', '111111')">(admin)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnEsp1" (click)="seleccionarCredenciales('Chani.fremen@gmail.com', 'chani123')">(especialista)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnEsp2" (click)="seleccionarCredenciales('stilgar.lisanalgaib@gmail.com', 'stilgar123')">(especialista)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnPac1" (click)="seleccionarCredenciales('feyd.rautha@gmail.com', 'feyd123')">(paciente)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnPac2" (click)="seleccionarCredenciales('glosu.rabban@gmail.com', 'rabban123')">(paciente)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnPac3" (click)="seleccionarCredenciales('Vladimir.harkonnen@gmail.com', 'harkonnen123')">(paciente)</button>
    </div>
  </div>
  
