<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="botones-inicio.component.css">
</head>
<body>
  <div class="container" @buttonContainerAnimation>
    <div class="ingreso-rapido-container d-flex flex-column align-items-center mb-4" @buttonAnimation>
      <button class="btn btn-lg btnIngreso btn-primary btnAdmin" (click)="seleccionarCredenciales('pexari1606@luravel.com', '111111')">(admin)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnEsp1" (click)="seleccionarCredenciales('negah99739@nolanzip.com', 'chani123')">(especialista)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnEsp2" (click)="seleccionarCredenciales('bidegi7129@mposhop.com', 'stilgar123')">(especialista)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnPac1" (click)="seleccionarCredenciales('doreno1189@mposhop.com', 'feyd123')">(paciente)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnPac2" (click)="seleccionarCredenciales('rajir12322@nolanzip.com', 'rabban123')">(paciente)</button>
      <button class="btn btn-lg btnIngreso btn-primary btnPac3" (click)="seleccionarCredenciales('tafakaw234@kinsef.com', 'harkonnen123')">(paciente)</button>
    </div>
  </div>
</body>
</html>
