<div class="container">
    <!-- Panel izquierdo para habilitar especialistas -->
    <div class="panel">
      <app-habilitar-especialistas></app-habilitar-especialistas>
    </div>
    
    <!-- Panel derecho para botones de registro -->
    <div class="panel">
      <!-- Botones para seleccionar el registro -->
      <button (click)="showRegistro('paciente')">Registrar Paciente</button>
      <button (click)="showRegistro('admin')">Registrar Admin</button>
      <button (click)="showRegistro('especialista')">Registrar Especialista</button>
  
      <!-- Componentes para registro según el botón seleccionado -->
      <ng-container *ngIf="registroSeleccionado === 'admin'">
        <app-registro-admins></app-registro-admins>
      </ng-container>
      <ng-container *ngIf="registroSeleccionado === 'paciente'">
        <app-registro-pacientes></app-registro-pacientes>
      </ng-container>
      <ng-container *ngIf="registroSeleccionado === 'especialista'">
        <app-registro-especialistas></app-registro-especialistas>
      </ng-container>
    </div>
  </div>