<div class="app-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img style="width: 50px;" src="./../assets/icono.png"></a>
    <h1 class="title">Lisan al-Clinic</h1>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Página principal</a>
        </li>
        <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
          <a class="nav-link" href="login">Iniciar sesión</a>
        </li>
        <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
          <a class="nav-link" href="registro">Registrarse</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" href="seccion-usuarios">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" href="turnos">Turnos</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" href="graficos">Graficos</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
          <a class="nav-link" href="mi-perfil">Mi perfil</a>
        </li>
        <li class="nav-item" *ngIf="isPaciente">
          <a class="nav-link" href="mis-turnos-pac">Mis Turnos</a>
        </li>
        <li class="nav-item" *ngIf="isEspecialista">
          <a class="nav-link" href="mis-turnos-esp">Mis Turnos</a>
        </li>
        <li class="nav-item" *ngIf="isEspecialista">
          <a class="nav-link" href="seccion-pacientes">Pacientes</a>
        </li>
        <li class="nav-item" *ngIf="(isLoggedIn$ | async) && (isAdmin || isPaciente)">
          <a class="nav-link" href="solicitar-turnos">Solicitar Turno</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
          <a class="nav-link" (click)="OnLogOutClick()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
