/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Dune';
    src: url('./assets/fonts/Dune_Rise.ttf') format('truetype');
}

body{
    margin: 0;
    font-family: 'Dune', sans-serif;
}